<div>
    <table>
        <thead>
            <th>E-mail</th>
            <th>Password</th>
            <th>Nickname</th>
            <th>Phone</th>
            <th>Website</th>
            <th>License</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr [formGroup]="userForm" *ngFor="let userForm of userForms index as i">

                <td>
                    <input type="text" formControlName="email">
                    <span *ngIf="email(i).invalid && email(i).touched">
                        <span *ngIf="email(i).errors.required">Email is required</span>
                        <span *ngIf="email(i).errors.pattern">Incorrect Email</span>
                    </span>
                </td>
                <td>
                    <input type="password" formControlName="password">
                </td>
                <td>
                    <input type="text" formControlName="nickName">
                </td>
                <td>
                    <input type="text" formControlName="phone">
                </td>
                <td>
                    <input type="text" formControlName="website">
                </td>
                <td>
                    <input type="checkbox" formControlName="license">
                </td>
                <td>
                    <button>X</button>
                </td>
                {{userForm.status | json}}
            </tr>
        </tbody>
    </table>
</div>
<!-- {{users | json}} -->