div {
    & table {

        & thead {
            & th {
                text-align: start;
            }
        }

        & tbody {

            tr {
                td {
                    span {
                        display: flex;
                        font-size: 13px;
                        color: #f56c42;
                    }
                    
                    input {
                        border: none;
                        outline: none;
                        margin: 0px;

                        &.ng-invalid.ng-touched {
                            border: 1px solid #f56c42; /* red */
                        }
                    }
                }
            }
        }
    }
}