div {
    & table {

        & thead {

            & th {
                text-align: start;
            }
        }

        & tbody {

            tr {

                td {
                    
                    input {
                        border: none;
                        outline: none;
                        margin: 0px;
                    }
                }
            }
        }
    }
}