<h1>Exchange</h1>
<!-- 
<button class="btn btn-primary" (click)="addCurrency()">Add Currency</button> -->

<div>
    <label>Base</label>
    <div class="form-group">
        <select class="form-control" (change)="currChange($event.target.value,'Base')">
            <option disabled>sellect currency</option>
            <option *ngFor="let rate of rates" [selected]="rate=='USD'" value="{{rate}}">{{rate}}</option>
        </select>
        <input class="form-control" type="number" [value]="lastChange==='Base' ?  baseValue : result"
            (keyup)="currValChange($event.target.value,'Base')">
    </div>

</div>

<div>
    <label>symbols</label>
    <div class="form-group">
        <select class="form-control" (change)="currChange($event.target.value,'Symbol')">
            <option disabled>sellect currency</option>
            <option *ngFor="let rate of rates" [selected]="rate=='EUR'" value="{{rate}}">{{rate}}</option>
        </select>
        <input class="form-control" type="number" [value]="lastChange==='Symbol' ?  symbolValue : result"
            (keyup)="currValChange($event.target.value,'Symbol')">
    </div>
    <!-- <h3>Sum</h3>
    <div *ngFor="let cr of currencyList index as i">
        <div class="form-group">
            <select class="form-control" (change)="changeSumElementSymbol(i,$event.target.value,'Symbol')">
                <option disabled>sellect currency</option>
                <option *ngFor="let rate of rates" value="{{rate}}">{{rate}}</option>
            </select>
            <input class="form-control" type="number" (keyup)="changeSumElementValue(i,$event.target.value,'Symbol')">
        </div>
    </div> -->
</div>
<!-- 
<div>
    Base: {{base}} to {{symbol}} = {{result}}
    <p>
        Sum: {{sum + result}}
    </p>
</div> -->