<h1>Cart</h1>

<p class="options">
    <a [routerLink]="[ '/shipping' ]">shipping</a>
    <a *ngIf="items.length > 0" (click)="clearCart()">Clear</a>
</p>


<div class="cart-item" *ngFor="let item of items index as itemId">
    <a (click)="removeItem(itemId)">X</a>
    <span> {{item.name}} </span>
    <span> {{item.price | currency}} </span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label> name </label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label> adress </label>
        <input type="text" formControlName="address">
    </div>
    <button class="button mr" type="submit">Purchase</button>
    <button class="button danger" type="button" (click)="setDefault()">Default</button>
</form>

<div>
    <h3>form data</h3>
    <!-- stringify form i'am  lazy 😊😊😊😊🔥🔥🔥-->
    {{getFormDataAsString()}}
</div>