<h1>Cart</h1>

<p>
    <a [routerLink]="[ '/shipping' ]">shipping</a>
</p>
<div class="cart-item" *ngFor="let item of items">
    <span> {{item.name}} </span>
    <span> {{item.price | currency}} </span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label> name </label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label> adress </label>
        <input type="text" formControlName="address">
    </div>
    <button class="button" type="submit">Purchase</button>
    <button class="button" type="button" (click)="setDefault()">Default</button>
</form>

<div>
    <h3>form data</h3>
    <!-- stringify form i'am  lazy 😊😊😊😊🔥🔥🔥-->
    {{getFormDataAsString()}}
</div>
