<h1>Employees</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of pagedItems ">
            <td>{{employee.id}}</td>
            <td> <a [routerLink]="[ '/employee', employee.id ]">{{employee.name}}</a></td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
            <td><button class="btn btn-danger" (click)="remove(employee.id)">X</button></td>
        </tr>
    </tbody>
</table>
<ul *ngIf="pager?.pages && pager?.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->