<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>
<div>
    <!-- <a [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>
        Checkout
    </a> -->
    <a [routerLink]="['/whishlist']" class="button fancy-button">
        <i class="material-icons">star</i>
        whishlist
    </a>
    <a [routerLink]="['/register']" class="button fancy-button">
        <i class="material-icons">person_add</i>
        Register
    </a>
    <a *ngIf="isLogged" [routerLink]="['/users']" class="button fancy-button">
        <i class="material-icons">people</i>
        Users
    </a>
    <a [routerLink]="['/exchange']" class="button fancy-button">
        <i class="material-icons">all_inclusive</i>
        Exchange
    </a>
    <a [routerLink]="['/employees']" class="button fancy-button">
        <i class="material-icons">all_inclusive</i>
        employees
    </a>
    <a [routerLink]="['/dashboard']" class="button fancy-button">
        <i class="material-icons">all_inclusive</i>
        Dashboard
    </a>
    <a *ngIf="!isLogged" [routerLink]="['/login']" class="button fancy-button">
        <i class="material-icons">person</i>
        Login
    </a>
    <a *ngIf="isLogged" (click)="logout()" class="button fancy-button">
        <i class="material-icons">exit_to_app</i>
        Logout
    </a>

</div>
<button class="button fancy-button" (click)="menu.openMenu()"> Menu </button>
<app-menu #menu></app-menu>