<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>
<div>
    <a [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>
        Checkout
    </a>
    <a [routerLink]="['/whishlist']" class="button fancy-button">
        <i class="material-icons">star</i>
        whishlist
    </a>
    <a [routerLink]="['/register']" class="button fancy-button">
        <i class="material-icons">person_add</i>
        Register
    </a>
    <a [routerLink]="['/users']" class="button fancy-button">
        <i class="material-icons">people</i>
        Users
    </a>
    <a [routerLink]="['/exchange']" class="button fancy-button">
        <i class="material-icons">all_inclusive</i>
        Exchange
    </a>
    <a [routerLink]="['/dashboard']" class="button fancy-button">
        <i class="material-icons">all_inclusive</i>
        Dashboard
    </a>
</div>